{% extends 'searchBaseForAdmin.html' %}
{% block searchResult %}
    <table class="table table-striped" style="font-family: Arial; font-size: medium">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Book Information</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody style="font-family: 'Arial Unicode MS';font-size: large;font-weight: bold">
        {% for book in resultBook %}
            <tr>
                <td style="line-height: 750%;width: 35%;"><img style="width: 50%"
                                                               src={{ url_for('static',filename=book.bookImg) }}></td>
                <td style="line-height: 500%">book
                    name:&nbsp;&nbsp;{{ book.bookName }}<br>author:&nbsp;&nbsp;{{ book.author }}<br>
                    number: {{ book.bookNumber }}</td>
                <td style="line-height: 1300%">
                    <a href="/adminEditBook/{{ book.id }}" type="submit" class="fa fa-edit"
                       style="background-color: white;color: cadetblue;border-color: white;
                       font-size: 24px;display: inline-block; vertical-align: middle;">
                    </a>
                    <a href="/adminDeleteBook/{{ book.id }}" type="submit" class="fa fa-remove" onclick="con()"
                       style="background-color: white;color: cadetblue;border-color: white;margin-left: 7%;
                       font-size: 24px;display: inline-block; vertical-align: middle;">
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for book in resultAuthor %}
            <tr>
                <td style="line-height: 750%;width: 35%;"><img style="width: 50%"
                                                               src={{ url_for('static',filename=book.authorImg) }}></td>
                <td style="line-height: 500%">book
                    name:&nbsp;&nbsp;{{ book.bookName }}<br>author:&nbsp;&nbsp;{{ book.author }}<br>
                    number: {{ book.bookNumber }}</td>
                <td style="line-height: 1300%">
                    <a href="/adminEditBook/{{ book.id }}" type="submit" class="fa fa-edit"
                       style="background-color: white;color: cadetblue;border-color: white;
                       font-size: 24px;display: inline-block; vertical-align: middle;">
                    </a>
                    <a href="/adminDeleteBook/{{ book.id }}" type="submit" class="fa fa-remove" onclick="con()"
                       style="background-color: white;color: cadetblue;border-color: white;margin-left: 7%;
                       font-size: 24px;display: inline-block; vertical-align: middle;">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}